extends layout


block content
  section.jumbotron.text-center
    .container
      h1 #{title}
      p.lead.text-muted
        | Scouts Sint-Hubertus organiseert een grootschalige pasta actie! Neem een kijkje op de site en ontdek ons assortiment, bestellen kan nog tot 25 december! Afhalen kan op 5 januari, praktische info volgt.
      br
      h3 Aantal bestelde pakketten:
      h1= data.order_count
  p
  
  section.jumbotron.text-justify
    .container
      h2 Eerstkomende evenement:
      p= data.event.description
      p.text-muted= data.event.due_back_formatted
         
  p

  .row.row-cols-2
    .col 
      div.facebookContainer
        h3 Neem een kijkje op onze facebook pagina!
        #fb-root
        iframe(src='https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fscoutsengidsensinthubertus&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId' width='400' height='400' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowfullscreen='true' allow='autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share')

    .col
      div.youtubeContainer
        h3 Geniet van deze Italiaanse muziek bij het eten van je pasta
        iframe(width="75%" height='315' src='https://www.youtube.com/embed/rJhot6-27MA' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')

      



